<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @member.UserId %>
</p>

<p>
  <strong>Groupid:</strong>
  <%= @member.GroupId %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
